@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: #f7f7fe;
  --primary-100: #dadafc;
  --primary-200: #bcbdf9;
  --primary-300: #9ea0f6;
  --primary-400: #8183f4;
  --primary-500: #6366f1;
  --primary-600: #5457cd;
  --primary-700: #4547a9;
  --primary-800: #363885;
  --primary-900: #282960;
  --primary-950: #0a0a2a;
  --surface-50: #f9fafb;
  --surface-100: #f3f4f6;
  --surface-200: #e5e7eb;
  --surface-300: #d1d5db;
  --surface-400: #9ca3af;
  --surface-500: #6b7280;
  --surface-600: #4b5563;
  --surface-700: #374151;
  --surface-800: #1f2937;
  --surface-900: #111827;
  --surface-950: #0a0a2a;
}
